<div class="row mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                PVM skaičiuoklė
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="kaina" class="form-label">Kaina:</label>
                    <input type="number" name="" id="kaina" class="form-control" [(ngModel)]="kaina">
                </div>
                <button class="btn btn-success" (click)="skaiciuoti()" [disabled]="kaina===null">Skaičiuoti</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Rezultatai
            </div>
            <div class="card-body">
                <div *ngIf=" bePVM!='' ">
                    <div>
                        Kaina be PVM: <b>{{ bePVM }} </b> 
                    </div>
                    <div>
                        PVM: <b>{{ pvm }} </b> 
                    </div>
                    <div>
                        Galutinė kaina: <b>{{ suma }} </b> 
                    </div>
                </div>
                <div *ngIf=" bePVM=='' ">
                    Įveskite kainą ir paspauskite skaičiuoti

                </div>
                
            </div>
        </div>
    </div>
</div>

